.labelText {
  color: #15a3b8;
  margin-left: 50px;
  font-size: 2.5em;
}

.buttonGroup {
  text-align: center;
}

.button {
  display: inline-block;
  margin-top: 20px;
  margin-right: 40px;
}

.formArea {
  background-color:#A0D8EF;
  padding-bottom: 30px;
  padding-top: 10px;
  text-align: center;
}

.formInput {
  border-radius: 25px;
  margin-left: 5px;
  border: none;
}

.formInput {
  border-radius: 25px;
  margin-left: 5px;
  border: none;
}

.tableBody {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.tableRow {
  margin-top: 5px;
  margin-bottom: 30px;
  margin-right: 10px;
  margin-left: 40px;
  float: left;
}
