.card {
  width: 225px;
  height: 330px;
}

.cardImage {
  width: 220px;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.cardTitle {
  font-weight: bold;
}

.cardText {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card:hover .cardImage {
  opacity: 0.3;
}

.card:hover .cardText {
  opacity: 1;
}
